<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.translated :text_area, :summary, rows: 4 %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description, aria: { label: :description } %>
      </div>

      <div class="row column">
        <%= form.upload :main_image %>
      </div>

      <div class="row column">
        <%= form.number_field :budget_amount %>
      </div>

      <div class="row column">
        <%= form.number_field :budget_amount_min %>
      </div>

      <% if @form.geocoding_enabled? %>
        <div class="row column">
          <%= form.geocoding_field :address %>
        </div>
      <% end %>

      <% if current_component.has_subscopes? %>
        <div class="row column">
          <%= scopes_select_field form, :decidim_scope_id, root: budget.scope %>
        </div>
      <% end %>

      <div class="row column">
        <%= form.categories_select :decidim_category_id, current_participatory_space.categories, include_blank: true, disable_parents: false %>
      </div>

      <% if defined?(Decidim::Proposals::Proposal) %>
        <div class="row column">
          <%= render partial: "decidim/proposals/proposals/proposals_picker", locals: { form:, field: :proposals } %>
        </div>
      <% end %>

      <% if defined?(Decidim::Ideas::Idea) %>
        <div class="row column">
          <%= cell("decidim/ideas/ideas_picker_field", form) %>
        </div>
      <% end %>

      <% if defined?(Decidim::Plans::Plan) %>
        <div class="row column">
          <%= cell("decidim/plans/plans_picker_field", form) %>
        </div>
      <% end %>

      <%= render partial: "decidim/admin/shared/gallery", locals: { form: } %>

      <% if form.object.persisted? %>
        <div class="row column">
          <%= form.check_box :selected %>
          <p class="help-text"><%= t ".selected_help" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_budgeting_pipeline_admin_projects" %>
