<div class="row columns">
  <div class="orders-summary">
    <% current_orders.each do |order| %>
      <div class="order-wrapper mt-5 mb-5">
        <h3><%= translated_attribute(order.budget.title) %></h3>

        <%= render partial: "decidim/budgets/votes/order_progress", locals: { order: order, id_suffix: "-summary" } %>

        <div class="infobox">
          <% order.line_items.order_by_projects.each do |item| %>
            <div id="project-<%= item.project.id %>-order-summary" class="infobox-item">
              <div class="infobox-title">
                <%= translated_attribute(item.project.title) %>
              </div>
              <div class="infobox-content">
                <div class="infobox-content-grid">
                  <div class="infobox-content-cell">
                    <% if item.project.budget_amount > 0 %>
                      <p>
                        <strong class="lead"><%= budget_to_currency item.project.budget_amount %></strong>
                      </p>
                    <% end %>
                    <p><%= project_summary_for(item.project) %></p>
                  </div>
                  <div class="infobox-content-cell infobox-actions">
                    <div class="infobox-action">
                      <%= link_to budget_project_path(item.project.budget, item.project, order_summary: 1), data: { remote: true } do %>
                        <%= t("decidim.budgets.projects.index.view_project") %>&nbsp;&raquo;
                      <% end %>
                    </div>
                    <div class="infobox-action">
                      <%= render partial: "decidim/budgets/projects/project_budget_button", locals: { project: item.project, style: :link, id_suffix: "-summary" } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <hr class="reset mt-0 mb-1">

        <%= render partial: "decidim/budgets/votes/order_total", locals: { order: order } %>

        <div id="summary-notifications-<%= order.budget.id %>">
          <%= render partial: "decidim/budgets/orders/summary_notifications", locals: { order: order } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
