<div class="large reveal" data-reveal id="orders-overview" role="dialog" data-multiple-opened="true">
  <div class="reveal__header">
    <h3 class="reveal__title"><%= t("decidim.budgets.orders.index.title") %></h3>
    <button class="close-button" data-close aria-label="<%= t("decidim.budgets.budget_information_modal.close_modal") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row columns">
    <div class="static__content">
      <%== translated_attribute component_settings.vote_orders_page_content %>
    </div>
  </div>

  <div class="orders-summary"></div>

  <div class="row column flex-actions actions">
    <button class="button primary hollow" data-close type="button">
      <%= t(".close") %>
    </button>
    <span id="projects_continue_button_orders">
      <%= render partial: "continue_button" %>
    </span>
  </div>
</div>
