<% errors = order.rule_errors %>

<% if errors.include?(:allocation_exceeded) %>
  <div class="allocation-exceeded">
    <div class="callout alert">
      <p class=h5>
        <%= icon "information", role: "img", "aria-hidden": true %>
        <%= order.projects_rule? ? t(".errors.allocation_exceeded_projects.title") : t(".errors.allocation_exceeded.title") %>
      </p>
      <p><%= order.projects_rule? ? t(".errors.allocation_exceeded_projects.description") : t(".errors.allocation_exceeded.description") %></p>
    </div>
  </div>
<% elsif errors.include?(:minimum_projects) %>
  <div class="minimum-projects">
    <div class="callout warning">
      <p class=h5>
        <%= icon "information", role: "img", "aria-hidden": true %>
        <%= t(".errors.minimum_projects.title", count: order.minimum_projects, budget: translated_attribute(order.budget.title)) %>
      </p>
      <p><%= t(".errors.minimum_projects.description", count: order.minimum_projects) %></p>
    </div>
  </div>
<% elsif errors.include?(:maximum_projects) %>
  <div class="maximum-projects">
    <div class="callout warning">
      <p class=h5>
        <%= icon "information", role: "img", "aria-hidden": true %>
        <%= t(".errors.maximum_projects.title", count: order.maximum_projects, budget: translated_attribute(order.budget.title)) %>
      </p>
      <p><%= t(".errors.maximum_projects.description", count: order.maximum_projects) %></p>
    </div>
  </div>
<% elsif errors.include?(:minimum_budget) %>
  <div class="minimum-budget">
    <div class="callout warning">
      <p class=h5>
        <%= icon "information", role: "img", "aria-hidden": true %>
        <%= t(".errors.minimum_budget.title", budget: translated_attribute(order.budget.title)) %>
      </p>
      <p><%= t(".errors.minimum_budget.description", amount: budget_to_currency(order.minimum_budget)) %></p>
    </div>
  </div>
<% elsif errors.include?(:maximum_budget) %>
  <div class="maximum-budget">
    <div class="callout warning">
      <p class=h5>
        <%= icon "information", role: "img", "aria-hidden": true %>
        <%= t(".errors.maximum_budget.title", budget: translated_attribute(order.budget.title)) %>
      </p>
      <p><%= t(".errors.maximum_budget.description", amount: budget_to_currency(order.maximum_budget)) %></p>
    </div>
  </div>
<% end %>

