<div class="row columns">
  <div class="page-title">
    <h1 class="heading1"><%= t(".title") %></h1>
  </div>
</div>

<div class="row margin-bottom-3 align-center">
  <div class="columns mediumlarge-10 large-8">
    <div class="static__content text-center">
      <%== t(".description_html") %>

      <% if current_settings.show_votes? %>
        <p>
          <%= link_to voting_finished? ? t(".see_results") : t(".follow_voting"), results_path, class: "button primary" %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="row margin-bottom-3 align-center">
  <div class="columns mediumlarge-10 large-8">
    <%= render partial: "orders_info" %>
  </div>
</div>

<div class="row column margin-bottom-3">
  <%= link_to projects_path, class: "action-link" do %>
    <%= icon "arrow-left", class: "icon--small", "aria-hidden": true %>
    <%= t(".back") %>
  <% end %>
</div>
