<%= t(
  ".voted_on_budgets",
  budget_names: @budget_names.join(", ")
) %>

<p><%= t(".votes_summary") %></p>

<% @orders.each do |order| %>
  <p><strong><%= decidim_sanitize(translated_attribute(order.budget.title)) %></strong></p>
  <% if order.projects.any? %>
    <p><%= t(".selected_projects") %></p>
    <ul>
    <% order.projects.each do |project| %>
      <li><%= translated_attribute(project.title) %></li>
    <% end %>
    </ul>
  <% else %>
    <p><%= t(".no_selected_projects") %></p>
  <% end %>
<% end %>
