<%
projects = projects_with_votes(budget)
extra_projects = []

# if budget.settings.respond_to?(:vote_rule_selected_projects_enabled) && budget.settings.vote_rule_selected_projects_enabled && budget.total_budget.zero?
#   winning = winning_projects(budget) if voting_finished?
#   if winning && winning.any? && winning.first.selected?
#     extra_projects = projects.where.not(id: winning.map(&:id))
#     projects = winning
#   end
# else
# end

if voting_finished?
  winning = winning_projects(budget)
  extra_projects = projects.where.not(id: winning.map(&:id))
  projects = winning
else
  extra_projects = projects
  projects = []
end
%>

<div class="accordion-item" data-accordion-item>
  <a href="#" role="button" class="accordion-title">
    <span class="accordion-title__text"><%= translated_attribute(budget.title) %></span>
    <span class="accordion-title__icon">
      <span class="accordion--inactive"><%= icon("chevron-bottom", role: "img", "aria-hidden": true) %></span>
      <span class="accordion--active"><%= icon("chevron-top", role: "img", "aria-hidden": true) %></span>
    </span>
  </a>
  <div class="accordion-content" data-tab-content>
    <% if projects.any? || extra_projects.any? %>
      <%= render partial: "projects_table", locals: { budget: budget, winning: projects, others: extra_projects } %>
    <% else %>
      <p class="lead"><%= t(".no_votes_yet") %></p>
    <% end %>
  </div>
</div>
