<%
projects = projects_with_votes(budget)
extra_projects = []

if voting_finished?
  winning = winning_projects(budget)
  extra_projects = projects.where.not(id: winning.map(&:id))
  projects = winning
else
  extra_projects = projects
  projects = []
end
%>

<div class="accordion-item" data-accordion-item>
  <a href="#" role="button" class="accordion-title">
    <span class="accordion-title__text"><%= translated_attribute(budget.title) %></span>
    <span class="accordion-title__icon">
      <span class="accordion--inactive"><%= icon("chevron-bottom", role: "img", "aria-hidden": true) %></span>
      <span class="accordion--active"><%= icon("chevron-top", role: "img", "aria-hidden": true) %></span>
    </span>
  </a>
  <div class="accordion-content" data-tab-content>
    <div class="margin-bottom-2">
      <p class="lead"><%= t(".budget", amount: budget_to_currency(budget.total_budget)) %></p>
      <%== translated_attribute(component_settings.results_page_budget_content) %>
    </div>
    <% if projects.any? || extra_projects.any? %>
      <%= render partial: "projects_table", locals: { budget: budget, winning: projects, others: extra_projects } %>
    <% else %>
      <p class="lead"><%= t(".no_votes_yet") %></p>
    <% end %>
  </div>
</div>
