<%
projects = projects_with_votes(budget)
extra_projects = []

unless budget.settings.vote_rule_selected_projects_enabled
  winning = winning_projects(budget)
  extra_projects = projects.where.not(id: winning.map(&:id))
  projects = winning
end
%>
<div class="budget-results mb-5">
  <div class="text-center">
    <% if budget.settings.vote_rule_selected_projects_enabled %>
      <h2><%= t(".title_ordered", budget: translated_attribute(budget.title)) %></h2>
    <% else %>
      <h2><%= t(".title_winning", budget: translated_attribute(budget.title)) %></h2>
    <% end %>
    <% if budget.total_budget > 0 %>
      <p class="h5"><%= t(".budget", amount: budget_to_currency(budget.total_budget)) %></p>
    <% end %>
  </div>

  <% if projects.any? %>
    <%= render partial: "projects_table", locals: { budget: budget, projects: projects } %>

    <% if extra_projects.any? %>
      <div class="text-center">
        <button type="button" class="link" data-toggle="budget-extra-<%= budget.id %> budget-extra-closed-<%= budget.id %> budget-extra-open-<%= budget.id %>" id="budget-extra-toggle-<%= budget.id %>">
          <span id="budget-extra-closed-<%= budget.id %>" data-toggler=".is-hidden" aria-expanded="true" aria-label="<%= t(".show_more_detailed", name: translated_attribute(budget.title)) %>">
            <%= t(".show_more") %>
            <%= icon "chevron-bottom", role: "img", "aria-hidden": true %>
          </span>
          <span id="budget-extra-open-<%= budget.id %>" class="is-hidden" data-toggler=".is-hidden" aria-expanded="false" aria-label="<%= t(".show_less_detailed", name: translated_attribute(budget.title)) %>">
            <%= t(".show_less") %>
            <%= icon "chevron-top", role: "img", "aria-hidden": true %>
          </span>
        </button>
      </div>

      <div id="budget-extra-<%= budget.id %>" class="is-hidden" data-toggler=".is-hidden" aria-expanded="false">
        <div class="text-center">
          <p><%= t(".extra_note") %></p>
        </div>
        <%= render partial: "projects_table", locals: { budget: budget, projects: extra_projects, order: projects.count } %>
      </div>
    <% end %>
  <% else %>
    <div class="text-center">
      <p><%= t(".no_votes_yet") %></p>
    </div>
  <% end %>
</div>
