<% order ||= 0 %>

<table class="transparent mobile-collapse">
  <thead>
    <tr>
      <th><span class="show-for-sr"><%= t(".order_number") %></span></th>
      <th><%= t(".project_name") %></th>
      <% if display_amounts_for?(budget) %>
        <th class="medium-text-center"><%= t(".project_budget") %></th>
      <% end %>
      <th class="medium-text-center"><%= t(".project_votes") %></th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project, index| %>
      <% order += 1 %>
      <tr>
        <td><%= order %>.</td>
        <td><%= link_to translated_attribute(project.title), budget_project_path(budget, project) %></td>
        <% if display_amounts_for?(budget) %>
          <td class="medium-text-center">
            <% if project.budget_amount > 0 %>
              <strong class="hide-for-medium"><%= t(".project_budget") %>:</strong>
              <%= nonbreaking_text(budget_to_currency(project.budget_amount)) %>
            <% end %>
          </td>
        <% end %>
        <td class="medium-text-center">
          <strong class="hide-for-medium"><%= t(".project_votes") %>:</strong>
          <%= t(".amount", count: number_with_delimiter(project.votes_count)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
