<% order = 0 %>

<table class="transparent mobile-collapse">
  <thead>
    <tr>
      <th><span class="show-for-sr"><%= t(".order_number") %></span></th>
      <th><%= t(".project_name") %></th>
      <% if display_amounts_for?(budget) %>
        <th class="medium-text-center"><%= t(".project_budget") %></th>
      <% end %>
      <th class="medium-text-center"><%= t(".project_votes") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "project", collection: winning, locals: { budget: budget, first_index: 1, winning: true } %>
    <%= render partial: "project", collection: others, locals: { budget: budget, first_index: winning.length + 1, winning: false } %>
  </tbody>
</table>
