<%= decidim_modal id:"vote-finished-modal" do %>
  <div data-dialog-container>
    <h2 id="vote-finished-modal-label"><%= t(".title") %></h2>

    <%= render partial: "decidim/budgets/votes/finished_content" %>

    <%= link_to t(".sign_out"), decidim.destroy_user_session_path, method: :delete, class: "sign-out-link button", role: "button" %>
  </div>

  <div data-dialog-actions>
    <button type="button" class="button hollow" data-close>
      <%= t(".continue") %>
    </button>
  </div>
<% end %>

<% content_for(:js_content) do %>
  <script>
  $(document).ready(function() {
    let $modal = $("#vote-finished-modal");

    if (!$modal.data("voteFinishedDialog")) {

      let dialog = new window.Decidim.Dialogs("#vote-finished-modal");
      $modal.data("voteFinishedDialog", dialog);

      var dialogInstance = dialog;
    }

    dialogInstance.open();
  });
  </script>
<% end %>
