<div class="reveal reveal--vote-finished" id="vote-finished-modal" data-reveal role="dialog" aria-modal="true" aria-labelledby="vote-finished-modal-label" data-close-on-click="false" data-close-on-esc="false">
  <div class="reveal__header">
    <div class="icon-wrapper" aria-hidden="true">
      <%= render partial: "decidim/budgets/results/icon_heart" %>
    </div>
    <h2 id="vote-finished-modal-label" class="reveal__title"><%= t(".title") %></h2>
  </div>
  <div class="reveal__content" id="vote-finished-modal-content" aria-live="assertive">
    <%= render partial: "decidim/budgets/results/vote_finished_modal_content" %>

    <div class="row mt-3">
      <div class="columns medium-8 medium-push-2">
        <div>
          <%= link_to t(".sign_out"), decidim.destroy_user_session_path, method: :delete, class: "sign-out-link button expanded primary", role: "button" %>
        </div>
        <div>
          <button class="button primary expanded hollow" data-close><%= t(".continue") %></button>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js_content) do %>
  <script>
  $(document).ready(function() {
    var $modal = $("#vote-finished-modal");
    $modal.foundation("open");
  });
  </script>
<% end %>
