<table class="transparent">
  <tbody>
    <tr>
      <th class="text-left"><%= t(".budget_name") %></th>
      <td><%= decidim_sanitize(translated_attribute(project.budget.title)) %></td>
    </tr>
    <% if project.category %>
      <tr>
        <th class="text-left"><%= t(".category_name") %></th>
        <td>
          <% if project.category.parent %>
            <%= translated_attribute(project.category.parent.name) %> -
          <% end %>
          <%= translated_attribute(project.category.name) %>
        </td>
      </tr>
    <% end %>
    <% if project.budget_amount > 0 %>
      <tr>
        <th class="text-left"><%= t(".budget_amount") %></th>
        <td><%= nonbreaking_text(budget_to_currency(project.budget_amount)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
