<%
type_suffix = defined?(type) ? "_#{type}" : ""
%>

<%= filter_form_for filter, projects_path, "aria-label": t(".label") do |form| %>
  <div class="row medium-unstack">
    <div class="columns">
      <div class="filters__control text_filter">
        <%= form.search_field :search_text_cont, label: t(".term"), placeholder: t(".term"), data: { disable_dynamic_change: true } %>
      </div>
    </div>

    <% if display_budgets_filter? %>
      <div class="columns">
        <div class="filters__control text_filter">
          <%= form.select(:decidim_budgets_budget_id_eq, filter_budgets_values, { label: t(".budget"), include_blank: filter_budgets_label }, data: { disable_dynamic_change: true }) %>
        </div>
      </div>
    <% end %>

    <% if display_category_filter? %>
      <div class="columns">
        <div class="filters__control category_id_filter">
          <%= form.select(:with_any_category, filter_categories_values, { label: t(".category"), include_blank: t(".categories_values.all") }, data: { disable_dynamic_change: true }) %>
        </div>
      </div>
    <% end %>

    <% if display_status_filter? %>
      <div class="columns">
        <div class="filters__control category_id_filter">
          <%= form.select(:with_any_status, filter_status_values, { label: t(".status"), include_blank: t(".status_values.all") }, data: { disable_dynamic_change: true }) %>
        </div>
      </div>
    <% end %>
  </div>

  <% if display_budget_amount_filters? || current_user %>
    <div class="row columns">
      <div class="filters__section">
        <button type="button" class="link action-link margin-bottom-2" data-toggle="additional_search<%= type_suffix %> additional_search_closed<%= type_suffix %> additional_search_open<%= type_suffix %>" id="additional_search_toggle<%= type_suffix %>" aria-expanded="false">
          <span id="additional_search_closed<%= type_suffix %>" data-toggler=".is-hidden">
            <span><%= t(".more_criteria.show") %></span>
            <%= icon "arrow-down-s-line", role: "img", "aria-hidden": true %>
          </span>
          <span id="additional_search_open<%= type_suffix %>" class="is-hidden" data-toggler=".is-hidden">
            <span><%= t(".more_criteria.hide") %></span>
            <%= icon "arrow-up-s-line", role: "img", "aria-hidden": true %>
          </span>
        </button>
      </div>
    </div>
  <% end %>

  <div id="additional_search<%= type_suffix %>" class="row medium-unstack is-hidden" data-toggler=".is-hidden">
    <% if display_budget_amount_filters? %>
      <div class="columns">
        <div class="filters__control budget_amount_gteq_filter">
          <label for="<%= "#{form.options[:namespace]}_filter_budget_amount_gteq" %>"><%= t(".budget_amount_min") %></label>
          <div class="input-group">
            <%= form.number_field :budget_amount_gteq, label: false, class: "input-group-field", placeholder: t(".budget_enter_amount"), data: { disable_dynamic_change: true } %>
            <span class="input-group-label"><%= Decidim.currency_unit %></span>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="filters__control budget_amount_gteq_filter">
          <label for="<%= "#{form.options[:namespace]}_filter_budget_amount_lteq" %>"><%= t(".budget_amount_max") %></label>
          <div class="input-group">
            <%= form.number_field :budget_amount_lteq, label: false, class: "input-group-field", placeholder: t(".budget_enter_amount"), data: { disable_dynamic_change: true } %>
            <span class="input-group-label"><%= Decidim.currency_unit %></span>
          </div>
        </div>
      </div>
    <% end %>
    <% if current_user %>
      <div class="columns">
        <div class="filters__control user_modifiers">
          <label aria-hidden="true">&nbsp;</label>
          <%= form.check_box :favorites, label: t(".favorites"), data: { disable_dynamic_change: true } %>
        </div>
      </div>
    <% else %>
      <div class="columns"></div>
    <% end %>
  </div>

  <div class="row columns">
    <div class="filters__actions">
      <button type="submit" class="button button--icon" aria-label="<%= t(".search") %>" aria-controls="projects-count projects" data-close>
        <%= t(".search") %>
        <%= icon("search-line", role: "img", "aria-hidden": true) %>
      </button>
      <button type="reset" class="button clear text-lg"><%= t ".reset" %></button>
    </div>
  </div>

  <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
<% end %>
