<% style ||= :button %>

<div id="project-<%= project.id %>-budget-button<%= id_suffix if defined?(id_suffix) %>">
  <% if voted_for?(project) %>
    <%= action_authorized_button_to(
          "vote",
          budget_order_line_item_path(project.budget, project_id: project),
          method: :delete,
          remote: true,
          data: {
            disable: true,
            budget: project.budget_amount
          },
          disabled: !can_have_order?,
          class: style == :link ? "link" : "button small expanded primary hollow",
          "aria-label": t("decidim.budgets.projects.project_budget_button.added_descriptive", resource_name: translated_attribute(project.title))
        ) do %>
          <%= icon("trash", role: "img", "aria-hidden": true) %>
          <%= t("decidim.budgets.projects.project_budget_button.remove_from_vote") %>
        <% end %>
  <% elsif current_user.present? %>
    <%= action_authorized_button_to(
          "vote",
          t("decidim.budgets.projects.project_budget_button.add_to_vote"),
          budget_order_line_item_path(project.budget, project_id: project),
          method: :post,
          remote: true,
          data: {
            disable: true,
            budget: project.budget_amount,
            add: true
          },
          disabled: !can_have_order?,
          class: style == :link ? "link" : "button small expanded primary hollow",
          "aria-label": t("decidim.budgets.projects.project_budget_button.add_descriptive", resource_name: translated_attribute(project.title))
        ) %>
  <% end %>
</div>
