<div class="reveal" id="socialShare" data-reveal role="dialog" aria-modal="true" aria-labelledby="socialShare-label">
  <div class="reveal__header">
    <h3 id="socialShare-label" class="reveal__title"><%= t("decidim.shared.share_modal.share") %>:</h3>
    <button class="close-button" data-close aria-label="<%= t("decidim.shared.share_modal.close_window") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="button-group text-center">
  <%= social_share_button_tag(
        strip_tags(translated_attribute(project.title)),
        url: project_url(project),
        image: share_image_url,
        desc: h(strip_tags(translated_attribute(project.description))),
        via: decidim_meta_twitter_handler) %>
    <a href="#" class="button" data-open="urlShare">
      <%= icon "link-intact", role: "img", "aria-hidden": true %>
      <%= t("decidim.shared.share_modal.share_link") %>
    </a>
  </div>
</div>
<div class="reveal" id="urlShare" data-reveal data-reveal role="dialog" aria-modal="true" aria-labelledby="urlShare-label">
  <div class="reveal__header">
    <h3 id="urlShare-label" class="reveal__title"><%= t("decidim.shared.share_modal.share_link") %>:</h3>
    <button class="close-button" data-close aria-label="<%= t("decidim.shared.share_modal.close_window") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <input type="text" title="<%= t("decidim.shared.share_modal.share_link") %>" value="<%= "#{project_url(project)}" %>" readonly>
</div>

<%= javascript_include_tag "decidim/social_share" %>
<%= stylesheet_link_tag "decidim/extras/_social_share" %>
