<div decidim_modal id="socialShare">
  <div data-dialog-container>
    <div class="reveal__header">
      <h3 id="socialShare-label" class="reveal__title"><%= t("decidim.shared.share_modal.share") %>:</h3>
    </div>

    <div class="button-group text-center">
    <%= social_share_button_tag(
          strip_tags(translated_attribute(project.title)),
          url: project_url(project),
          image: share_image_url,
          desc: h(strip_tags(translated_attribute(project.description))),
          via: decidim_meta_twitter_handler) %>
      <a href="#" class="button" data-open="urlShare">
        <%= icon "link", role: "img", "aria-hidden": true %>
        <%= t("decidim.shared.share_modal.share_link") %>
      </a>
    </div>
  </div>
</div>

<div decidim="modal" id="urlShare">
  <div data-dialog-container>
    <div class="reveal__header">
      <h3 id="urlShare-label" class="reveal__title"><%= t("decidim.shared.share_modal.share_link") %>:</h3>
    </div>
    <input type="text" title="<%= t("decidim.shared.share_modal.share_link") %>" value="<%= "#{project_url(project)}" %>" readonly>
  </div>
</div>
