<div class="row columns">
  <div class="page-title">
    <h1 class="heading1"><%= t(".title") %></h1>
  </div>
</div>

<%= render partial: "decidim/budgets/votes/landing" %>

<div class="container bg-secondary filters-section">
  <div class="row columns">
    <div class="result-filters record-filters">
      <%= render partial: "filters" %>
    </div>
  </div>
</div>

<div class="container listing-section">
  <div class="row columns">
    <% if component_settings.geocoding_enabled? %>
      <ul class="tabs" data-tabs id="listing-tabs">
        <li class="tabs-title is-active"><a data-tabs-target="projects-listing" href="#projects-listing" aria-selected="true"><%= t(".show_list") %></a></li>
        <li class="tabs-title"><a data-tabs-target="projects-map" href="#projects-map"><%= t(".show_map") %></a></li>
      </ul>
    <% end %>

    <div class="tabs-content" data-tabs-content="listing-tabs">
      <div class="tabs-panel is-active" id="projects-listing">
        <div class="collection-info row smallmedium-unstack">
          <div class="column">
            <div id="projects-count" aria-live="polite">
              <%= render partial: "count" %>
            </div>
          </div>
          <div class="column">
            <div class="collection-controls">
              <div class="control">
                <%= order_selector available_orders, i18n_scope: "decidim.budgets.projects.orders" %>
              </div>
              <% if false %>
                <div class="control">
                  <%= render partial: "decidim/shared/results_per_page" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div id="projects">
          <div class="cards-list">
            <%= render partial: "projects" %>
          </div>
        </div>
      </div>

      <% if component_settings.geocoding_enabled? %>
        <div class="tabs-panel" id="projects-map">
          <%= projects_map projects_data_for_map(geocoded_projects) do %>
            <%= render partial: "map_template" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_budgeting_pipeline_projects" %>

<% if vote_success? %>
  <%= render partial: "decidim/budgets/results/vote_finished_modal" %>
<% end %>
