<div class="row columns">
  <div class="page-title">
    <h2 class="heading1"><%= translated_attribute(current_component.name) %></h2>
  </div>
</div>

<div class="row medium-unstack content-intro">
  <div class="columns medium-6 mediumlarge-8">
    <div class="text-large">
      <%== landing_page_content %>
    </div>
  </div>
  <div class="columns medium-6 mediumlarge-4">
    <% if voting_open? && !user_voted? %>
      <div class="actions-panel bg-secondary">
        <%= link_to vote_path, class: "action-link" do %>
          <span><%= t(".start_voting") %></span>
          <%= icon("arrow-right", role: "img", "aria-hidden": true) %>
        <% end %>
      </div>
    <% elsif user_voted? %>
      <div class="actions-panel bg-secondary">
        <%= link_to orders_path, class: "action-link" do %>
          <span><%= t(".see_your_vote") %></span>
          <%= icon("arrow-right", role: "img", "aria-hidden": true) %>
        <% end %>
      </div>
    <% end %>
    <% if current_settings.show_votes? %>
      <div class="actions-panel bg-secondary">
        <%= link_to results_path, class: "action-link" do %>
          <span><%= voting_finished? ? t(".see_results") : t(".follow_voting") %></span>
          <%= icon("arrow-right", role: "img", "aria-hidden": true) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container bg-secondary filters-section">
  <div class="row columns">
    <div class="result-filters record-filters">
      <%= render partial: "filters" %>
    </div>
  </div>
</div>

<div class="container listing-section">
  <div class="row columns">
    <% if component_settings.geocoding_enabled? %>
      <ul class="tabs" data-tabs id="listing-tabs">
        <li class="tabs-title is-active"><a data-tabs-target="projects-listing" href="#projects-listing" aria-selected="true"><%= t(".show_list") %></a></li>
        <li class="tabs-title"><a data-tabs-target="projects-map" href="#projects-map"><%= t(".show_map") %></a></li>
      </ul>
    <% end %>

    <div class="tabs-content" data-tabs-content="listing-tabs">
      <div class="tabs-panel is-active" id="projects-listing">
        <div class="collection-controls">
          <div class="control">
            <%= order_selector available_orders, i18n_scope: "decidim.budgets.projects.orders" %>
          </div>
          <% if false %>
            <div class="control">
              <%= render partial: "decidim/shared/results_per_page" %>
            </div>
          <% end %>
        </div>

        <div id="projects-count">
          <%= render partial: "count" %>
        </div>

        <div id="projects">
          <div class="cards-list">
            <%= render partial: "projects" %>
          </div>
        </div>
      </div>

      <% if component_settings.geocoding_enabled? %>
        <div class="tabs-panel" id="projects-map">
          <%= projects_map projects_data_for_map(geocoded_projects) do %>
            <template id="marker-popup">
              <div class="map-info__content">
                <h3>${title}</h3>
                <div id="bodyContent">
                  <p>{{html body}}</p>
                  <div class="map__date-adress">
                    <div class="address card__extra">
                      <div class="address__icon">{{html icon}}</div>
                      <div class="address__details">
                        <span>${address}</span><br>
                      </div>
                    </div>
                  </div>
                  <div class="map-info__button">
                    <a href="${link}" class="button button--sc">
                      <%= t(".view_project") %>
                    </a>
                  </div>
                </div>
              </div>
            </template>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_budgeting_pipeline_projects" %>

<% if vote_success? %>
  <%= render partial: "decidim/budgets/results/vote_finished_modal" %>
<% end %>
