<% add_decidim_meta_tags(
  title: translated_attribute(project.title),
  description: translated_attribute(project.description),
  url: project_url(project)
) %>

<%
edit_link(
  resource_locator([project.budget, project]).edit,
  :update,
  :project,
  project: project
)
%>

<%
summary = translated_attribute(project.summary)
%>

<div class="row column back-link">
  <%= link_to projects_path, class: "action-link" do %>
    <%= icon "arrow-left", role: "img", "aria-hidden": true %>
    <span><%= t(".view_all_projects") %></span>
  <% end %>
</div>

<div class="row column resource">
  <div class="row ">
    <div class="columns small-12 medium-8">
      <div class="resource__main static__content margin-bottom-0">
        <h1><%= translated_attribute project.title %></h1>

        <%= render partial: "project_status" if voting_finished? && statuses_available? %>

        <% if project.main_image && project.main_image.attached? %>
          <%= image_tag project.attached_uploader(:main_image).variant_url(:main), class:"resource__image", alt: strip_tags(translated_attribute(project.title)) %>
        <% elsif category_image_path(project.category) %>
          <%= image_tag category_image_path(project.category), class:"resource__image", alt: strip_tags(translated_attribute(project.title)) %>
        <% else %>
          <%= image_tag asset_pack_path("media/images/budgets-project-default.jpg"), class:"resource__image", alt: strip_tags(translated_attribute(project.title)) %>
        <% end %>
      </div>
    </div>

    <div class="columns small-12 medium-4">
      <div class="resource__aside">
        <div class="resource__actions">
          <%= render partial: "project_actions", locals: { project: project } %>
        </div>

        <%= render partial: "project_attributes", locals: { project: project } %>

        <div class="resource__note">
          <%= t("decidim.budgets.projects.shared.project_note") %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main resource__content static__content">
        <h2><%= t(".subtitle") %></h2>

        <% if strip_tags(summary).strip.present? %>
          <h3 class="h5"><%= t(".summary") %></h3>
          <p><%= summary %></p>
          <h3 class="h5"><%= t(".description") %></h3>
        <% end %>

        <%= decidim_sanitize(translated_attribute(project.description)) %>

        <%= linked_resources_for project, :plans, "included_plans" %>

        <%= render partial: "project_answer", locals: { project: project } %>

        <%= render partial: "project_map", locals: { project: project } %>
      </div>

      <div class="resource__details">
        <%= attachments_for project %>
      </div>
    </div>
  </div>
</div>

<%= comments_for project %>
