<div class="card-slider single"
  data-prev-label="<%= t("helsinki.content_blocks.records_carousel.previous") %>"
  data-next-label="<%= t("helsinki.content_blocks.records_carousel.next") %>">

  <% help_sections.each do |section| %>
    <div class="card-slide-content">
      <div class="card card--help_section">
        <% if section.image && section.image.url  %>
          <%= image_tag section.image.small.url, alt: translated_attribute(section.title), class: "card__image" %>
        <% end %>
        <div class="card__content">
          <div class="card__header">
            <div class="card__title">
              <%= translated_attribute(section.title) %>
            </div>
          </div>
          <div class="card__text">
            <div class="card__text--paragraph">
              <%== translated_attribute(section.description) %>
            </div>
          </div>
        </div>
        <% if section.link && section.link_text %>
          <div class="card__info">
            <div class="card__info__item text-right">
              <%= link_to translated_attribute(section.link_text), section.link %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
