<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-divider">
      <h2 class="card-title">
        <div>
          <%= link_to t("decidim.budgets.admin.helps.index.title"), helps_path %> &gt;
          <%= link_to container.name, help_sections_path(container.key) %> &gt;
          <%= title %>
        </div>
      </h2>
    </div>

    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true %>

        <%= form.number_field :weight %>

        <%= form.translated :editor, :description %>

        <%= form.translated :text_field, :link_text %>

        <%= form.text_field :link %>

        <%= form.upload :image, button_class: "button button__sm button__transparent-secondary" %>
      </div>
    </div>
  </div>
</div>
