<div class="card with-overflow">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= link_to t("decidim.budgets.admin.helps.index.title"), helps_path %> &gt;
        <%= container.name%>
      </div>
      <div class="flex--cc flex-gap--1">
        <% if allowed_to? :export, :budget %>
          <%= export_dropdown %>
        <% end %>
        <div id="js-other-actions-wrapper">
          <%= link_to t("actions.new", scope: "decidim.budgets", name: t("models.help_section.name", scope: "decidim.budgets.admin")), new_help_section_path, class: "button tiny button--title" if allowed_to? :create, :help_section %>
        </div>
      </div>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.help_section.fields.title", scope: "decidim.budgets") %></th>
            <th><%= t("models.help_section.fields.weight", scope: "decidim.budgets") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.budgets") %></th>
          </tr>
        </thead>
        <tbody>
          <% sections.each do |section| %>
            <tr data-id="<%= section.id %>">
              <td>
                <%= link_to translated_attribute(section.title), edit_help_section_path(container.key, section) %>
              </td>
              <td>
                <%= section.weight %>
              </td>
              <td class="table-list__actions">
                <% if allowed_to? :update, :help_section, help_section: section %>
                  <%= icon_link_to "pencil", edit_help_section_path(container.key, section), t("actions.edit", scope: "decidim.budgets"), class: "action-icon--edit" %>
                <% else %>
                  <%= icon "pencil", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.edit", scope: "decidim.budgets") %>
                <% end %>

                <% if allowed_to? :delete, :help_section, help_section: section %>
                  <%= icon_link_to "circle-x", help_section_path(container.key, section), t("actions.destroy", scope: "decidim.budgets"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.budgets") } %>
                <% else %>
                  <%= icon "circle-x", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.destroy", scope: "decidim.budgets") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
