<% add_decidim_page_title(t("decidim.budgets.admin.helps.index.title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <div>
        <%= link_to t("decidim.budgets.admin.helps.index.title"), helps_path %> &gt;
        <%= container.name%>
      </div>
      <div class="flex items-center gap-x-4">
        <%= export_dropdown if allowed_to? :export, :budget %>
        <div id="js-other-actions-wrapper">
          <%= link_to t("help_sections.new.title", scope: "decidim.budgets.admin", name: t("models.help_section.name", scope: "decidim.budgets.admin")), new_help_section_path, class: "button button__sm button__secondary" if allowed_to? :create, :help_section %>
        </div>
      </div>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.help_section.fields.title", scope: "decidim.budgets") %></th>
            <th><%= t("models.help_section.fields.weight", scope: "decidim.budgets") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.budgets") %></th>
          </tr>
        </thead>
        <tbody>
          <% sections.each do |section| %>
            <tr data-id="<%= section.id %>">
              <td>
                <%= link_to translated_attribute(section.title), edit_help_section_path(container.key, section) %>
              </td>
              <td>
                <%= section.weight %>
              </td>
              <td class="table-list__actions">
                <% if allowed_to? :update, :help_section, help_section: section %>
                  <%= icon_link_to "pencil-line", edit_help_section_path(container.key, section), t("actions.edit", scope: "decidim.budgets"), class: "action-icon--edit" %>
                <% else %>
                  <%= icon "pencil-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.edit", scope: "decidim.budgets") %>
                <% end %>

                <% if allowed_to? :delete, :help_section, help_section: section %>
                  <%= icon_link_to "delete-bin-line", help_section_path(container.key, section), t("actions.destroy", scope: "decidim.budgets"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.budgets") } %>
                <% else %>
                  <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.destroy", scope: "decidim.budgets") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
