<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <div>
        <%= t(".title") %>
      </div>
    </h1>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.help_container.fields.name", scope: "decidim.budgets") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.budgets") %></th>
          </tr>
        </thead>
        <tbody>
          <% containers.each do |container| %>
            <tr data-id="<%= container.key %>">
              <td>
                <%= link_to container.name, help_sections_path(container.key) %>
              </td>
              <td class="table-list__actions">
                <%= icon_link_to "eye-line", help_sections_path(container.key), t("actions.edit", scope: "decidim.budgets"), class: "action-icon--preview" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
