<%= decidim_modal id:"exit-notification-modal" do %>
  <div data-dialog-container>
    <h3 id="exit-notification-label"><%= t(".title") %></h3>
    <button class="close-button" data-close aria-label="<%= t("decidim.budgets.budget_information_modal.close_modal") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="static__content text-center">
      <p><strong><%= t(".message") %></strong></p>
    </div>
  </div>

  <div data-dialog-actions>
    <div class="columns medium-8 medium-offset-2">
      <button class="button primary expanded" data-close type="button">
        <%= t(".cancel") %>
      </button>
      <%= link_to t(".exit"), projects_path, id: "exit-notification-link", class: "button primary hollow expanded" %>
    </div>
  </div>
<% end %>
