<%
i18n_scope = "decidim.budgets.projects.filters"

type_suffix = defined?(type) ? "_#{type}" : ""
%>

<%= filter_form_for filter, projects_vote_path, id: "filters#{type_suffix}", "aria-label": t("label", scope: i18n_scope) do |form| %>
  <div class="row medium-unstack">
    <div class="columns">
      <div class="filters__control text_filter">
        <%= form.search_field :search_text_cont, label: t("term", scope: i18n_scope), placeholder: t("term", scope: i18n_scope), data: { disable_dynamic_change: true } %>
      </div>
    </div>

    <% if display_category_filter? %>
      <div class="columns">
        <div class="filters__control category_id_filter">
          <%= form.select(:with_any_category, filter_categories_values, { label: t("category", scope: i18n_scope), include_blank: t("categories_values.all", scope: i18n_scope) }, data: { disable_dynamic_change: true }) %>
        </div>
      </div>
    <% end %>

    <div class="columns">
      <div class="filters__control user_modifiers">
        <label aria-hidden="true" class="show-for-medium">&nbsp;</label>
        <%= form.check_box :favorites, label: t("favorites", scope: i18n_scope), data: { disable_dynamic_change: true } %>
        <%= form.check_box :selected, label: t("selected", scope: i18n_scope), data: { disable_dynamic_change: true } %>
      </div>
    </div>

    <div class="columns">
      <div class="filters__control text_filter">
        <label>
          <span class="label__wrapper">
            <span class="label__text"><%= t("order", scope: i18n_scope) %></span>
          </span>
          <%= select_tag(:order, options_for_select(order_values.invert, params[:order]), aria: { controls: "projects" }) %>
        </label>
      </div>
    </div>
  </div>

  <div class="row columns">
    <div class="filters__actions">
      <button type="submit" class="button button--icon" aria-label="<%= t("search", scope: i18n_scope) %>" aria-controls="projects" data-close>
        <%= t("search", scope: i18n_scope) %>
        <%= icon("magnifying-glass", role: "img", "aria-hidden": true) %>
      </button>
      <button type="reset" class="button clear text-lg"><%= t "reset", scope: i18n_scope %></button>
    </div>
  </div>
<% end %>
