<div id="orders-summary">
  <% orders.each do |order| %>
    <h3><%= translated_attribute(order.budget.title) %></h3>

    <%= render partial: "decidim/budgets/votes/order_progress", locals: { order: order } %>
  <% end %>

  <div class="cart-button-wrapper">
    <%= link_to orders_path, class: "button primary hollow", aria: { haspopup: "dialog" }, data: { remote: true } do %>
      <%= t("decidim.budgets.votes.orders_summary.show_orders") %>
      <%= icon "cart", role: "img", "aria-hidden": true %>
    <% end %>
  </div>
</div>
