<div id="order-items-<%= order.budget.id %><%= id_suffix if defined?(id_suffix) %>" class="infobox">
  <% if order.line_items.any? %>
    <div class="order-items">
      <% order.line_items.order_by_projects.each do |item| %>
        <div id="project-<%= item.project.id %>-order-summary" class="order-items__item">
          <div>
            <%= render partial: "decidim/budgets/projects/project_budget_button", locals: { project: item.project, style: :link, id_suffix: "-summary" } %>
            <%= translated_attribute(item.project.title) %>,
            <%= budget_to_currency(item.project.budget_amount) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="order-items-total">
      <%= t(".total_note", amount: budget_to_currency(order.total_budget)) %>
    </div>
  <% else %>
    <p><%= t(".empty") %></p>
  <% end %>
</div>
