<div id="order-progress-<%= order.budget.id %><%= id_suffix if defined?(id_suffix) %>" class="order-progress" data-valid="<%= order.valid_for_checkout?.to_json %>">
  <div class="voting-progress">
    <% if order.projects_rule? %>
      <div class="voting-progress__indicator">
        <% allocated_amount = order.total_projects %>
        <% order.available_allocation.times do |idx| %>
          <% if idx < allocated_amount %>
            <%= icon "checkbox-circle-line", role: "img", "aria-hidden": true %>
          <% else %>
            <%= icon "checkbox-blank-circle-line", role: "img", "aria-hidden": true %>
          <% end %>
        <% end %>
      </div>
      <div class="voting-progress__explanation" aria-live="polite">
        <%= t(".remaining_votes", count: order.unused_allocation) %>
      </div>
    <% else %>
      <div class="budget-summary__progressbox" data-current-allocation="<%= order ? order.total : 0 %>">
        <div class="progress<%= " alert" if order.allocation_exceeded? %> budget-progress"
          role="progressbar"
          aria-valuenow="<%= number_with_precision(order.budget_percent.to_f, precision: 1) %>"
          aria-valuetext="<%= number_with_precision(order.budget_percent.to_f, precision: 1) %>%"
          aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-meter budget-progress__meter" style="width: <%= order.budget_percent > 100 ? 100 : order.budget_percent.to_f.round %>%">
            <span class="progress-meter-text progress-meter-text--right"><%= number_with_precision(order.budget_percent.to_f, precision: 1) %>%</span>
          </div>
        </div>
      </div>
      <span aria-live="polite"><%= t(".remaining_budget", amount: budget_to_currency(order.unused_allocation)) %></span>
    <% end %>
  </div>
</div>
