<div id="order-progress-<%= order.budget.id %><%= id_suffix if defined?(id_suffix) %>" class="order-progress" data-valid="<%= order.valid_for_checkout?.to_json %>">
  <div class="row">
    <div class="columns large-6">
      <table class="transparent mb-0">
        <tbody>
          <tr>
            <td><%= t(".selected_projects") %></td>
            <td class="text-right"><%= nonbreaking_text(t(".selected_projects_count", count: order.total_projects)) %></td>
          </tr>
          <% if order.projects_rule? %>
            <tr>
              <td><%= t(".available_projects") %></td>
              <td class="text-right"><%= order.available_allocation %></td>
            </tr>
            <tr>
              <td><%= t(".allocated_projects") %></td>
              <td class="text-right"><%= order.total %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= t(".available_budget") %></td>
              <td class="text-right"><%= nonbreaking_text(budget_to_currency(order.available_allocation)) %></td>
            </tr>
            <tr>
              <td><%= t(".allocated_budget") %></td>
              <td class="text-right"><%= nonbreaking_text(budget_to_currency(order.total)) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6">
      <table class="transparent">
        <tbody>
          <% if order.projects_rule? %>
            <tr class="lead">
              <td><strong><%= t(".unused_projects") %></strong></td>
              <td class="text-right"><strong><%= order.unused_allocation %></strong></td>
            </tr>
          <% else %>
            <tr class="lead">
              <td><strong><%= t(".unused_budget") %></strong></td>
              <td class="text-right"><strong><%= nonbreaking_text(budget_to_currency(order.unused_allocation)) %></strong></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="columns large-6">
      <div class="budget-summary__progressbox" data-current-allocation="<%= order ? order.total : 0 %>">
        <div class="progress<%= " alert" if order.allocation_exceeded? %> budget-progress"
          role="progressbar"
          aria-valuenow="<%= number_with_precision(order.budget_percent.to_f, precision: 1) %>"
          aria-valuetext="<%= number_with_precision(order.budget_percent.to_f, precision: 1) %>%"
          aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-meter budget-progress__meter" style="width: <%= order.budget_percent > 100 ? 100 : order.budget_percent.to_f.floor %>%">
            <span class="progress-meter-text progress-meter-text--right"><%= number_with_precision(order.budget_percent.to_f.floor, precision: 1) %>%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
