<div id="orders-summary">
  <div class="orders-summary-info">
    <%== translated_attribute component_settings.vote_projects_voting_info_content %>
  </div>

  <% orders.each do |order| %>
    <div class="orders-summary-item">
      <%= render partial: "decidim/budgets/votes/order_progress", locals: { order: order } %>
    </div>
  <% end %>

  <span id="projects_continue_button" class="show-for-mediumlarge">
    <%= render partial: "projects_continue_button" %>
  </span>

  <% orders.each do |order| %>
    <div class="orders-summary-cart">
      <button type="button" class="link action-link" data-toggle="order-items-wrapper-<%= order.budget.id %> order-items-closed-<%= order.budget.id %> order-items-open-<%= order.budget.id %>" id="order-items-toggle-<%= order.budget.id %>" aria-controls="order-items-closed-<%= order.budget.id %> order-items-open-<%= order.budget.id %> order-items-wrapper-<%= order.budget.id %>" aria-expanded="true">
        <span id="order-items-closed-<%= order.budget.id %>" class="is-hidden" data-toggler=".is-hidden">
          <span aria-hidden="true"><%= t(".order_items.show") %></span>
          <span class="show-for-sr"><%= t(".order_items.show_detailed", name: translated_attribute(order.budget.title)) %></span>
          <%= icon "chevron-bottom", role: "img", "aria-hidden": true %>
        </span>
        <span id="order-items-open-<%= order.budget.id %>" data-toggler=".is-hidden">
          <span aria-hidden="true"><%= t(".order_items.hide") %></span>
          <span class="show-for-sr"><%= t(".order_items.hide_detailed", name: translated_attribute(order.budget.title)) %></span>
          <%= icon "chevron-top", role: "img", "aria-hidden": true %>
        </span>
      </button>

      <div id="order-items-wrapper-<%= order.budget.id %>" data-toggler=".is-hidden">
        <%= render partial: "decidim/budgets/votes/order_items", locals: { order: order } %>
      </div>
    </div>
  <% end %>

  <div id="projects_continue_button_mobile" class="hide-for-mediumlarge">
    <%= render partial: "projects_continue_button", locals: { mobile: true } %>
  </div>
</div>
