<% content_for :top do %>
  <div class="voting-header">
    <%= pipeline_header_hero do %>
      <%= koro("pulse", flip: true) if respond_to?(:koro) %>
      <div class="row columns">
        <div class="exit-link">
          <span class="exit-link__box bg-content">
            <%= link_to projects_path do %>
              <%= icon "chevron-left", role: "img", "aria-hidden": true %>
              <%= t("decidim.budgets.votes.general.exit_voting") %>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="voting-header__content">
      <div class="voting-header__title">
        <div class="row">
          <div class="columns small-centered large-10">
            <div class="voting-header__title__box bg-content">
              <h1><%= t(".title") %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if current_step == :authorization && help_sections.any? %>
    <div class="extended hero">
      <div class="pt-4">
        <div class="row">
          <div class="columns small-centered mediumlarge-8 large-7">
            <%= render partial: "decidim/budgets/shared/help_sections", locals: { type: :large } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row columns">
  <%= render partial: "steps" %>
</div>
