<%= render partial: "top" %>

<div class="wrapper">
  <div class="row columns voting-wrapper">
    <div class="static__content">
      <%== translated_attribute(component_settings.vote_budgets_page_content) %>

      <h2><%= t(".select_budgets") %></h2>
      <%== translated_attribute(component_settings.vote_choose_budget_note_content) %>

      <% if display_more_information? %>
        <button class="link" data-open="budget-modal-info" aria-controls="budget-modal-info" aria-haspopup="dialog" tabindex="0">
          <%= more_information_label %>
        </button>
      <% end %>
    </div>

    <% if highlighted_budgets.any? %>
      <div class="callout info text-center">
        <p><%= t(".highlighted_budgets", count: highlighted_budgets.count) %></p>

        <p><strong><%= highlighted_budgets.map { |b| translated_attribute(b.title) }.join(", ") %></strong></p>

        <p><%= t(".highlighted_budgets_note", count: highlighted_budgets.count) %></p>

        <%= decidim_form_for(@form, url: start_vote_path, html: { class: "form start_vote" }) do |form| %>
          <% highlighted_budgets.each do |budget| %>
            <%= form.hidden_field "budget_ids][", value: budget.id, id: nil %>
          <% end %>

          <button type="submit" class="button primary icon-after" role="link" aria-label="<%= t("decidim.budgets.votes.general.move_to_next_step", name: t(".actions.continue")) %>">
            <%= t(".actions.continue") %>
            <%= icon "chevron-right", role: "img", "aria-hidden": true %>
          </button>
        <% end %>
      </div>
    <% end %>

    <div class="margin-top-2 margin-bottom-3">
      <% if suggested_budgets.any? %>
        <p><strong><%= t(".authorization_note") %></strong></p>

        <div class="row">
          <% suggested_budgets.each do |budget| %>
            <%= render partial: "budget_selector", locals: { budget: budget } %>
          <% end %>
        </div>

        <% if choose_budgets.any? %>
          <p><%= t(".rest_of_budgets") %></p>
        <% end %>
      <% end %>

      <% if choose_budgets.any? %>
        <div class="row">
          <% choose_budgets.each do |budget| %>
            <%= render partial: "budget_selector", locals: { budget: budget } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="small reveal" data-reveal id="budget-modal-info" role="dialog" aria-modal="true" aria-labelledby="budget-modal-info-label">
  <div class="reveal__header">
    <h3 id="budget-modal-info-label" class="reveal__title" tabindex="-1"><%= more_information_label %></h3>
    <button class="close-button" data-close aria-label="<%= t("decidim.budgets.budget_information_modal.close_modal") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <%== translated_attribute(component_settings.more_information_modal) %>

  <button class="button" data-close type="button">
    <%= t("decidim.budgets.budget_information_modal.continue") %>
  </button>
</div>

<%= javascript_pack_tag "decidim_budgeting_pipeline_budgets" %>
