<%= render partial: "top" %>

<div class="row columns">
  <div class="static__content">
    <h2><%= t(".title") %></h2>
    <%== translated_attribute component_settings.vote_choose_page_content %>
  </div>

  <% current_orders.each do |order| %>
    <div class="order-wrapper mt-5 mb-5">
      <h3><%= translated_attribute(order.budget.title) %></h3>

      <%= render partial: "order_progress", locals: { order: order } %>

      <div class="detail-selector">
        <div class="detail-selector-all">
          <%= form_for(
            order,
            url: confirm_all_budget_order_line_item_path(order.budget),
            method: :put,
            remote: true,
            html: { class: "form confirm_all_line_items mt-3" }) do |form| %>
            <%= form.check_box(
              :confirmed,
              label: false,
              id: "all_line_items_confirmed_#{order.budget.id}",
              checked: order.line_items.all?(&:confirmed),
              data: {
                remote: true,
                url: confirm_all_budget_order_line_item_path(order.budget),
                method: :put
              }
            ) %>
            <label for="all_line_items_confirmed_<%= order.budget.id %>"><%= t(".choose_all_projects") %></label>
          <% end %>
        </div>

        <% order.line_items.order_by_projects.each do |item| %>
          <div class="detail-selector-item">
            <div class="detail-selector-title">
              <%= form_for(
                item,
                url: confirm_budget_order_line_item_path(item.project.budget, project_id: item.project),
                method: :put,
                remote: true,
                html: { class: "form confirm_line_item mt-3" }) do |form| %>
                <%= form.check_box(
                  :confirmed,
                  label: false,
                  id: "line_item_confirmed_#{item.id}",
                  data: {
                    remote: true,
                    url: confirm_budget_order_line_item_path(item.project.budget, project_id: item.project),
                    method: :put
                  }
                ) %>
                <label for="line_item_confirmed_<%= item.id %>"><%= translated_attribute(item.project.title) %></label>
              <% end %>
            </div>
            <div class="detail-selector-content">
              <p><strong><%= budget_to_currency item.project.budget_amount %></strong></p>
              <p><%= decidim_sanitize(html_truncate(translated_attribute(item.project.description), length: 200)) %></p>
              <p><%= link_to t(".view_project"), budget_project_path(item.project.budget, item.project), data: { remote: true } %></p>
            </div>
          </div>
        <% end %>
      </div>

      <hr class="reset mt-0 mb-1">

      <%= render partial: "order_total", locals: { order: order } %>

      <div id="choose-notifications-<%= order.budget.id %>">
        <%= render partial: "choose_notifications", locals: { order: order } %>
      </div>
    </div>
  <% end %>

  <div id="choose-buttons">
    <div class="row column flex-actions actions mt-5">
      <%= link_to projects_vote_path, class: "button primary hollow icon-before" do %>
        <%= icon "chevron-left", role: "img", "aria-hidden": true %>
        <%= t("decidim.budgets.votes.general.previous") %>
      <% end %>
      <%= button_to preview_vote_path, id: "proceed-button", class: "button primary icon-after", disabled: true, method: :get do %>
        <%= t("decidim.budgets.votes.general.next") %>
        <%= icon "chevron-right", role: "img", "aria-hidden": true %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag("decidim/budgeting_pipeline/choose") %>
