<% empty_vote = current_orders.all? { |o| o.line_items.empty? } %>

<%= render partial: "top" %>

<div class="wrapper">
  <div class="row columns voting-wrapper">
    <div class="static__content">
      <h2><%= t(".title") %></h2>
      <%== translated_attribute component_settings.vote_preview_page_content %>
    </div>

    <% if empty_vote %>
      <div class="maximum-budget">
        <div class="callout alert">
          <p class=h5>
            <%= icon "information", role: "img", "aria-hidden": true %>
            <%= t(".empty_vote.title") %>
          </p>
          <p><%= t(".empty_vote.description") %></p>
        </div>
      </div>
    <% end %>

    <% current_orders.each do |order| %>
      <div class="order-wrapper mt-5 mb-5">
        <h3><%= decidim_sanitize(translated_attribute(order.budget.title)) %></h3>

        <% if order.projects_rule? %>
          <p><%= t(".total_projects") %>: <%= order.available_allocation %></p>
        <% else %>
          <p><%= t(".total_budget") %>: <%= nonbreaking_text(budget_to_currency(order.available_allocation)) %></p>
        <% end %>

        <div class="row">
          <div class="columns mediumlarge-10 mediumlarge-push-1">
            <% if order.line_items.any? %>
              <table class="transparent mb-0">
                <tbody>
                  <% order.line_items.order_by_projects.each do |item| %>
                    <tr>
                      <td>
                        <%= link_to budget_project_path(item.project.budget, item.project), data: { remote: true }, aria: { haspopup: "dialog" } do %>
                          <strong><%= translated_attribute(item.project.title) %></strong>
                        <% end %>
                      </td>
                      <% if item.project.budget_amount > 0 %>
                        <td class="text-right"><strong><%= nonbreaking_text(budget_to_currency(item.project.budget_amount)) %></strong></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <hr class="reset mt-0 mb-1">
              <div class="table-summary text-right">
                <% if order.projects_rule? %>
                  <%= t(".allocated_projects") %>:
                  &nbsp;&nbsp;<strong><%= order.total %></strong>
                <% else %>
                  <%= t(".allocated_budget") %>:
                  &nbsp;&nbsp;<strong><%= nonbreaking_text(budget_to_currency(order.total)) %></strong>
                <% end %>
              </div>
            <% else %>
              <p><%= t(".empty_order", name: decidim_sanitize(translated_attribute(order.budget.title))) %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div id="choose-buttons">
      <div class="row column flex-actions actions mt-5">
        <%= link_to projects_vote_path, class: "button primary hollow icon-before", aria: {
          label: t("decidim.budgets.votes.general.move_to_prev_step", name: t(".actions.previous"))
        } do %>
          <%= icon "chevron-left", role: "img", "aria-hidden": true %>
          <%= t(".actions.previous") %>
        <% end %>
        <%= button_to vote_path, class: "button primary icon-after", role: "link" do %>
          <% if empty_vote %>
            <%= t(".actions.vote_empty") %>
          <% else %>
            <%= t(".actions.vote") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_budgeting_pipeline_preview" %>
