<% content_for :top do %>
  <div class="row columns">
    <h1><%= budgets.map { |b| translated_attribute(b.title) }.join(", ") %></h1>
  </div>
<% end %>

<div class="wrapper voting-wrapper">
  <div class="row columns margin-bottom-3">
    <div class="static__content">
      <%== translated_attribute component_settings.vote_projects_page_content %>

      <h2 class="h3 margin-top-3"><%= t(".subtitle", service_name: current_organization.name) %></h2>
    </div>

    <%= render partial: "orders_summary", locals: { orders: current_orders } %>
  </div>

  <div class="container listing-section">
    <div class="row columns">
      <div class="filters-section filters-section--compact">
        <div class="result-filters record-filters">
          <%= render partial: "decidim/budgets/votes/filters" %>
        </div>
      </div>
    </div>

    <div class="row columns">
      <div id="projects" class="voting">
        <div id="projects_table_desc" class="projects-description" aria-live="polite">
          <%= render partial: "decidim/budgets/votes/projects_info" %>
        </div>

        <div id="projects_table">
          <%= render partial: "decidim/budgets/votes/projects_list" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_budgeting_pipeline_projects" %>
