<div class="row columns">
  <div class="page-title">
    <h1 class="heading1"><%= translated_attribute(current_component.name) %></h1>
  </div>
</div>

<% if user_signed_in? %>
  <% if user_authorized? %>
    <div class="row column margin-bottom-3">
      <div class="callout alert" role="complementary">
        <p class=h5>
          <%= icon "information", role: "img", "aria-hidden": true %>
          <%== invalid_authorization_title %>
        </p>
        <%== invalid_authorization_content %>
      </div>
    </div>
  <% else %>
    <%= render partial: "landing" %>
  <% end %>
<% else %>
  <%= render partial: "landing" %>
<% end %>
