<%= render partial: "top" %>

<div class="row columns">
  <div class="static__content">
    <h2><%= t(".title") %></h2>
    <%== translated_attribute component_settings.vote_identify_page_content %>
  </div>

  <div class="voting-identity">
    <% if user_signed_in? %>
      <div class="row">
        <% authorization_providers.each do |provider| %>
          <div class="columns small-6">
            <%= link_to provider.root_path, class: "button expanded button--#{normalize_provider_name(provider)}" do %>
              <%= authorization_provider_name(provider.key) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="row">
        <% identity_providers.each do |provider| %>
          <div class="columns small-6">
            <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button expanded button--#{normalize_provider_name(provider)}", method: :post do %>
              <%= identity_provider_name(provider) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="static__content mt-10">
    <%== translated_attribute component_settings.vote_identify_page_more_information %>
  </div>
</div>
