<% content_for :top_extra do %>
  <% if user_signed_in? && user_authorizations(:granted).any? && invalid_authorization_title.present? %>
    <div class="row mt-2">
      <div class="columns small-centered mediumlarge-9 large-8">
        <div class="callout alert" role="complementary">
          <p class=h5>
            <%= icon "information", role: "img", "aria-hidden": true %>
            <%== invalid_authorization_title %>
          </p>
          <%== invalid_authorization_content %>
        </div>
      </div>
    </div>
  <% end %>

  <% if help_sections.any? %>
    <div class="extended hero">
      <div class="pt-4">
        <div class="row">
          <div class="columns small-centered mediumlarge-8 large-7">
            <%= render partial: "decidim/budgets/shared/help_sections", locals: { type: :large } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render partial: "top" %>

<%= render partial: "identify_user" %>
