<%= render partial: "top" %>

<% if user_signed_in? %>
  <% if user_authorized? %>
    <div class="row column margin-bottom-3">
      <%== privacy_content %>

      <div class="row">
        <div class="columns shrink">
          <%= link_to t(".privacy_accept"), budgets_vote_path, class: "button" %>
        </div>

        <div class="columns shrink">
          <%= button_to decidim.destroy_user_session_path, method: :delete, class: "button clear link" do %>
            <%= t(".privacy_reject") %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row column margin-bottom-3">
      <div class="callout alert" role="complementary">
        <p class=h5>
          <%= icon "information", role: "img", "aria-hidden": true %>
          <%== invalid_authorization_title %>
        </p>
        <%== invalid_authorization_content %>
      </div>
    </div>
  <% end %>
<% end %>
