<div class="card__info">
  <div class="card__info__item">
    <%= translated_attribute(model.budget.title) %>
  </div>

  <div class="card__info__item">
    #<%= model.id %>
  </div>
</div>

<% if has_category? || votes_visible? %>
  <div class="card__info">
    <% if has_category? %>
      <div class="card__info__item">
        <span class="card__category__name"><%= category %></span>
      </div>
    <% end %>

    <% if votes_visible? %>
      <div class="card__info__item">
        <%= t(".votes_amount", count: votes_count) %>
      </div>
    <% end %>
  </div>
<% end %>

<% if model.budget_amount > 0 || votes_visible? %>
  <div class="card__info">
    <% if model.budget_amount > 0 %>
      <div class="card__info__item">
        <%= budget_to_currency model.budget_amount %>
      </div>
    <% end %>

    <% if votes_visible? %>
      <div class="card__info__item">
        <%= t(".votes_amount", count: votes_count) %>
      </div>
    <% end %>
  </div>
<% end %>
