<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: results_export_path, method: :post, html: { class: "form form-defaults export_projects_to_accountability" }) do |f| %>
      <% if @form.target_components.any? %>
        <div class="form__wrapper">

          <div class="card">
            <div class="card-section">
              <div class="row column">
                <%= f.select :target_component_id, @form.target_components_collection, prompt: t(".select_component") %>
              </div>

              <div class="row column">
                <%= f.check_box :export_all_selected_projects %>
              </div>
            </div>
          </div>

          <div class="item__edit-sticky">
            <div class="item__edit-sticky-container">
              <%= f.submit t(".create"), class: "button button__sm button__secondary" %>
            </div>
          </div>
        </div>
      <% else %>
          <p><%= t(".no_components") %></p>
      <% end %>
    <% end %>
  </div>
</div>
