<%= decidim_modal id:"linked-resource-details-modal" do %>
  <div data-dialog-container>
    <h2 id="linked-resource-details-label"><%= present(resource).title %></h2>
    <button class="close-button" data-close aria-label="<%= t(".close_modal") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>

    <div>
      <%= render(partial: @template, locals: { resource: resource }) %>
    </div>
  </div>

  <div data-dialog-actions>
    <button class="button" data-close type="button"><%= t(".close") %></button>
  </div>
<% end %>
